// styles/layout/_header.scss
@use "sass:map";
@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/functions" as functions;

.header {
  position: sticky;
  top: 0;
  z-index: map.get(variables.$z-index, 'header');
  background-color: functions.color('neutral', 'white');
  border-bottom: 1px solid functions.color('neutral', 'gray-200');

  &__container {
    height: functions.spacing('16');
    @include mixins.container;
    @include mixins.flex(row, space-between, center);
  }
}