// styles/layout/_navigation.scss
@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/functions" as functions;

.nav {
  &__list {
    list-style: none;
    gap: functions.spacing('6');
    @include mixins.flex(row, flex-start, center);
    @include mixins.animate-children(slideInDown, 0.5s);
  }

  &__link {
    color: functions.color('neutral', 'gray-900');
    @include mixins.text-style('sm', 'medium');
    @include mixins.transition(color);

    &:hover {
      color: functions.color('neutral', 'gray-900');
    }

    &--active {
      color: functions.color('primary', 'base');
    }
  }
}
